@font-face {
	font-family: "OpenSans",
	url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Montserrat",
	url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}