.footerBlock{
    padding:30px 0 30px 0; 
    .footerLeft{
        ul{
            list-style: none;
            padding-left: 0;
            li{
                display: block;
                float:left;
                margin-right: 20px;
                padding-right:20px; 
                border-right:1px solid #ccc;
                &:last-child{
                    border-right:none;
                    margin-right: 0;
                }
                a{
                    font:14px $openSans;
                    color:#9a9a9a;
                    text-transform:uppercase;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            
        }
    }
    .footerRight{
        p{
            font:14px $openSans;
            color:darken(#9a9a9a,10%);
            text-transform: uppercase;
            text-align: right;
        }
        .footerIcons{
            float:right;
            i{
                font-size:20px; 
                color:$mainColor;
                margin-left:10px;  
                &:hover{
                    color:darken($mainColor,25%);
                }
            }
        }
    }
}