.portfolio{
    background: darken(#fff ,10%);
    padding:20px 0 125px 0;
    .portfolioTop{
        margin-bottom: 100px;
        h3{
            text-align: center;
            @include mainTittle;
            &:before{
                content: '';
                @include titleBg;
            }
        }
        p{
            text-align: center;
            @include mainText;
        }
    }
    .portfolioLeft{
        h5{
            font:bold 30px $montserrat;
            color:$mainColor;
            text-transform: uppercase;
        }
        ul{
            list-style: none;
            padding-left: 0;
            li{
                margin-top: 20px;
                a{
                    font:bold 14px $montserrat;
                    color:$mainColor;
                    text-transform: uppercase;
                    &:hover{
                        color:darken($mainColor,50%);
                    }
                }
            }
        }
    }
    .portfolioRight{
        img{
            margin-bottom: 20px;
        }
    }
}